* {
  margin: 0;
  padding: 0;
}

button {
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  background-color: inherit;
  outline: none;
}

h1 {
  margin: 0;
}

.wrapper {
  max-width: 800px;
  margin: 0 auto;
}

.list {
  background-color: #f4f4f4;
  margin: 100px 0;
  padding: 20px 50px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  box-shadow: 2px 2px 6px #cccccc;
}

.list__title {
  text-align: center;
}

.list__input {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.list__input input {
  margin-right: 10px;
}

.list__input-btn {
  background-color: #58e27b;
  color: white;
  font-size: 0.8rem;
  border-radius: 0.5rem;
  padding: 10px;
}

.list__item {
  display: flex;
  margin-top: 20px;
  padding: 20px 10px;
}

.list__item:hover {
  background-color: #FFFDE7;
}

.list__item-checkbox {
  flex: initial;
}

.list__item-checkbox:hover {
  cursor: pointer;
}

.list__item-desc {
  flex: 10;
  word-break: break-word;
}

.list__item-desc-Checked {
  color: #bfbfbf;
  text-decoration: line-through;
}

.list__item-delete {
  flex: 1;
  position: relative;
}

.list__item-delete:hover {
  cursor: pointer;
}

.icon-cross {
  position: absolute;
  top: 0;
  right: 0;
  width: 1.5em;
  height: 1.5em;
  opacity: 0.3;
  transition: all 0.2s;
}

.icon-cross:hover {
  opacity: 1;
  cursor: pointer;
}

.icon-cross::before , 
.icon-cross::after {
    position: absolute;
    top: 50%;
    content: ' ';
    height: 2px;
    width: 30px;
    right: 5%;
    background: black;
    transition: all 0.1s;
}

.icon-cross::before {
  transform: rotate(45deg);
}

.icon-cross::after {
  transform: rotate(-45deg);
}

/* Checkbox */
input[type="checkbox"],
input[type="radio"] {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
label {
  position: relative;
  display: inline-block;
  padding: 0 0 0 2.5em;
  line-height: 1.5;
  cursor: pointer;
}
label::before,
label::after {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 1.5em;
  height: 1.5em;
}
label::before {
  content: " ";
  border: 2px solid #2c3e50;
  border-radius: 20%;
}

.list__item label::after {
  content: "\2714";
  color: #fff;
  line-height: 1.5;
  text-align: center;
}

/* :checked */
label.list__item-desc-Checked::before {
  background: #bdc3c7;
  border-color: #bdc3c7;
}
.list__item label::after {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
}
label.list__item-desc-Checked::after {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

/* Transition */
label::before,
label::after {
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}

@media (max-width: 768px) {
  .wrapper {
    margin: 0;
  }

  .list {
    margin-top: 0;
  }
}
