.bg {
  background-color: #e4e4e4;
  padding: 120px 0 66px 0;
}

h1, h2, p {
  margin: 0;
}

.form {
  box-shadow: 1.8px 2.4px 5px 0 rgba(0, 0, 0, 0.3);
  background-color: white;
  max-width: 645px;
  margin: 0 auto;
  border-top: 8px solid #fad312;
  padding: 54px 40px 35px 40px;
}

.form h1 {
  font-size: 36px;
}

.form h2 {
  font-size: 20px;
}

.form p {
  font-size: 14px;
}

.required {
  color: #e74149;
}

.header .form__desc {
  margin-top: 35px;
  line-height: 1.5em;
}

p.required {
  font-size: 16px;
  margin-top: 22px;
}

.form__subtitle {
  margin-top: 50px;
}

.form__input {
  font-size: 16px;

}

.form__input input {
  width: 50%;
  color: #afafaf;
  border: solid 1px #d0d0d0;
  margin-top: 20px;
  padding: 5px 0 3px 0;
  display: flex;
}

.form__desc {
  margin-top: 12px;
  color: black;
}

.form__option label {
  display: block;
  font-size: 14px;
  margin-top: 24px;
  display: flex;

}

.form__option input {
  margin-right: 10px;
}

.form__submit {
  font-size: 15px;
  background-color: #fad312;
  padding: 13px 31px;
  margin-top: 55px;
  text-align: center;
  border-radius: 3px;
  border: 0px;
  width: 92px;
  box-sizing: border-box;
}

.form__submit + p {
  margin-top: 20px;
}

.footer__desc {
  padding: 26px 0;
  text-align-last: center;
  background-color: black;
  color: #999999;
  font-size: 13px;
}

.warning:after {
  content: 'required';
  font-size: 16px;
  color: red;
}

@media (max-width: 768px) {
  .form__input input {
    width: 100%;
  }
}