.navbar {
  box-shadow: -1.4px -1.4px 6px 0 #97a2a0;
}

.navbar .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 84px;
  background: white;
  padding: 0px 24px;
}

.navbar__site-name {
  color: #489846;
  font-size: 36px;
}

.navbar__list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 18px;
}

.navbar__list li {
  margin-left: 12px;
  border-radius: 8px;
  transition: background 0.2s;
}

.navbar__list li.active, 
.navbar__list li:hover {
  background-color: #ff7286;
}

.navbar__list li.active a,
.navbar__list li:hover a {
  color: white;
}

.navbar__list li a {
  display: block;
  text-decoration: none;
  color: black;
  padding: 12px 24px;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 12px;
}

.banner {
  position: relative;
  height: 450px;
  background: url(../image/1.jpg) center/cover no-repeat;
}

.banner:after {
  content: "";
  position: absolute;
  background: rgba(0, 0, 0, 0.4); 
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.banner h1 {
  display: inline-block;
  position: relative;
  margin: 0;
  z-index: 2;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 60px;
  font-weight: bold;
}

h2 {
  margin: 0;
}

.section {
  text-align: center;
  margin-top: 80px;
}

.section__title {
  display: inline-block;
  font-size: 36px;
  border-left: 15px solid #a3dea2;
  padding-left: 16px;
  margin-bottom: 36px;
}

.section__desc {
  font-size: 16px;
  line-height: 2em;
  margin: 0px 0px 68px 0px;
}

.button {
  padding: 60px 80px;
  font-size: 36px;
  color: #3e613d;
  display: inline-block;
  border-radius: 10px;
  cursor: pointer;
  transition: transform .1s;
}

.button:hover {
  transform: scale(1.2);
}

.btn-order {
  background: #a8e8e1;
}

.btn-query {
  margin-left: 23px;
  background: #f9f9b5;
}

.section__images {
  display: flex;
}

.section__images div {
  width: 25%;
}

.section__images div img {
  width: 100%;
}

footer {
  margin-top: 48px;
}

.footer__bottom {
  background-color: #35564b;
  padding: 12px;
  text-align: center;
  color: white;
  font-size: 16px;
}

.footer__top {
  background-color: #e8efee;
  padding: 32px;
  color: #484848;
}

.footer__top .wrapper {
  display: flex;
  justify-content: space-between;
}

.footer__info {
  margin-right: 16px;
}

.footer__info div + div {
  margin-top: 10px;
}

.footer__site {
  font-size: 36px;
  color: #489846;
}

.section__comments {
  display: flex;
  margin-top: 72px;
}

.comment {
  border-radius: 5px;
  box-shadow: -1.4px -1.4px 4px 0 #d8eaef;
  border: solid 1px #c7e5ec;
  height: 200px;
  padding: 16px;
  position: relative;
}

.comment + .comment {
  margin-left: 16px;
}

/* 設外層尺寸而非照片本身，
要調尺寸比較方便，
也方便把方形照片調成圓形 */
.comment__avatar {
  width: 105px;
  height: 105px;
  border-radius: 50%;
  overflow: hidden;

}

.comment__avatar img {
  width: 100%;
  height: 100%;
}

.comment__author {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.comment__author p {
  margin-top: 6px;
  line-height: 18px;
}

.comment__content {
  position: relative;
  top: 40%;
  line-height: 1.5em;
}

@media(max-width: 768px) {
  .navbar .wrapper {
    height: 108px;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
  }

  .navbar__site-name {
    margin-top: 10px;
  }

  .navbar__list {
    display: flex;
    width: 100%;
  }

  .navbar__list li {
    flex: 1;
    margin-left: 0;
    border-radius: 0;
    text-align: center;
  }

  .btn-query {
    margin-left: 0;
    margin-top: 10px;
  }

  .section__images {
    flex-direction: column;
  }

  .section__images div {
    width: 100%;
  }

  .footer__top .wrapper {
    flex-direction: column-reverse;
  }

  .footer__info {
    margin-top: 0;
    margin-top: 16px;
  }

  .section__comments {
    flex-direction: column;
  }

  .comment + .comment {
    margin-left: 0;
    margin-top: 82px;
  }
}
